<div class="container">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" style="width:100%" src="https://s-media-cache-ak0.pinimg.com/originals/5f/da/a8/5fdaa890544c0ba98cabdb20a3225742.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
            <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide" style="width:100%" src="https://s-media-cache-ak0.pinimg.com/originals/5f/da/a8/5fdaa890544c0ba98cabdb20a3225742.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="first-slide" style="width:100%" src="https://s-media-cache-ak0.pinimg.com/originals/5f/da/a8/5fdaa890544c0ba98cabdb20a3225742.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->
  <div>
  <hr>
  <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> User Updates</h3>
  {{# each post}}
    <div class="col-md-2">
      <h3><span class="glyphicon glyphicon-user" style="font-size:40px;" aria-hidden="true"></span><span class="label label-success">{{this.author}}</span></h3>
    </div>
    <div class="col-md-10">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{this.title}}</h3>
        </div>
        <div class="panel-body">
          {{this.data}}
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
